<div class="card morphTo">
    <div class="morphTo--button button">
      <h2 class="card--title">Test title</h2>
      <img src="http://placekitten.com/g/200/300">
    </div>
    <div class="morphTo--overlay overlay">
        <div class="overlay--content">
            <a href="#" class="overlay--close">×</a>
            Click the button to see it expanding into a fullscreen overlay:
            Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut juccama green bean celtuce collard greens avocado quandong fennel gumbo black-eyed pea. Grape silver beet watercress potato tigernut corn groundnut. Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki bean gourd.
        </div>
    </div>
</div>
